<html>
  <head>
    <title>Login</title>
  </head>
  <body>
    <h1>Login</h1>
    <form action="/user_sessions" method="post">
      <input type="text" name="name" id="user_sessions_name" requried>
      <input type="password" name="password" id="user_sessions_password">
      <input type="submit" value="Login">
    </form>
  </body>
</html>
